

.loginForm {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.log {
    width: 600px;
    background-color:rgb(168, 255, 169);

    /* background-color:aquamarine; */
    border: 1px solid rgb(119, 198, 2);
    border-radius: 20px;
    
}

.login {
    margin-top: 50px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
}
.loginHeader {
    padding-top: 30px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    color:rgb(43, 43, 43);
    background-color:rgb(168, 255, 169);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}

.form-outline {
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
}